PORT=8787
HOST=127.0.0.1
PUBLIC_BASE_URL=http://localhost:5173
ADMIN_PASSWORD=replace-with-a-long-random-password
DATA_DIR=./data
PAYMENT_MODE=mock
# SOFFICE_PATH=C:/Program Files/LibreOffice/program/soffice.com
# FONT_PATH=./assets/NotoSansSC.ttf
